html, body{
	margin: 0;
	font-family: 'Fjalla One', sans-serif;
	font-size: 100%;
	color: #50514F;
	background-color: rgba(112,193,179, 0.1);
}

h1 {
	font-size: 3vmax;
	text-align: center;
	margin: 5px;
}

/***** IMAGE BANNER AND SIGN-UP FORM *****/

/* Image banner section */
.banner {
	display: block;
	position: relative;
	width: 100%;
	min-height: 400px;
}

/* The image */
.banner-image {
	position: absolute;
	background-image: url("../imgs/banner.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
	background-position: center; 
}

/* Sign-up form */
.top-right {
	position: relative;
	margin: 5% 2% 0 0;
	float:right;
	font-size: 32px;
	color: #f2f2f2;
}

/* Style the input field in the Sign-up form */
.top-right #user, #email, .modal .sign-in, .registration-form .sign-in,
	#feedback .sign-in, #new-thread .sign-in, #tab-1 .sign-in, #tab-2 .sign-in {
	border: none;
	box-shadow: none;
	margin-bottom: 4px;
	width: 100%;
	font-size: 18px;
	line-height: 32px;
	height: 39px;
	padding: 2px 7px;
	box-sizing: border-box;
}

/* Style the input field in the Sign-up form */
.top-right input[type="text"], .modal .sign-in {
	vertical-align: middle;
	color: #000;
	display: inline-block;
	border-radius: 2px;
	font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif;
	-webkit-appearance: none;
	margin-right: 4px;
}

/* Style the red button in the sign-up form */
.button-red {
	width: 100%;
	font-size: 18px;
	line-height: 32px;
	height: 39px;
	padding: 2px 7px;
	box-sizing: border-box;
	border-color: #247BA0;
	background-color: #F25F5C;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	vertical-align: middle;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;
	cursor: pointer;
}

/***** NAVIGATION BAR *****/
nav {
	width: 100%;
	margin: auto;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width:100%;
}

/* Float the list items side by side */
ul.topnav li {
	float: left;
}

/* Style the links inside the list items */
ul.topnav li a, .category-button .visualization-button {
	display: inline-block;
	color: #f2f2f2;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change Background color of links on hover */
ul.topnav li a:hover {
	text-decoration: underline;
}

/* Give the currently active navigation link a green color*/
a.active{
	background-color: #F25F5C;
}

/* Style the "Music Archives" log */
#logo {
	font-family: 'Brush Script MT', cursive;
	font-size: 36px;
	line-height: 100%;
	display: block;
	background-color: transparent;
	padding:6px;
}

/* Style the sign in button in the navigation bar */
ul.topnav li.button, .category-button .visualization-button {
	display: inline-block;
	float:right;
	border: none;
	margin: 7px 5px;
	cursor: pointer;
}

ul.topnav li.button a, .category-button .visualization-button, .forum #new-thread-button a, .posts #back-button a, #new-thread #back-button2 a{
	padding: 5px;
	border-radius: 4px;
	background-color: #F25F5C;
	border-color: #247BA0;
	border: solid 1px;
}

ul.topnav #register {
	float:right;
}

ul.topnav #register a:hover {
	background-color: transparent;
}

/* Hide the 'Hamburger' that appears when screen is minimized */
ul.topnav li.icon {
	display:none;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the logo. */
/* Show the list item ('Hamburger') that opens and closes the navigation */
@media screen and (max-width:680px) {
	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		display: inline-block;
		float: right;
		background-color: transparent;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user click on the icon. */
@media screen and (max-width:680px) {
	ul.topnav.responsive {position: relative;}
	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}

	/* Style the sign-in button in the small-screen navigation bar */
	ul.topnav li.button {
		float:right;
		display: block;
	}
}

/***** MAIN SECTION STYLE *****/

main {
	min-width: 100%;
	display: inline-block;
	overflow: hidden;
}

.container {
	margin: auto;
	margin-top: 20px; 
	max-width: 1050px;
}

main .container .search {
	margin: auto;
	width: 80%;
	padding: 10px;
	margin-top:40px;
}

main .container .search input[type=text] {
	width: 50%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('../imgs/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	margin: auto;
	display: inherit;
}

/* When the input field get focus, change its width to %100 */
main .container .search input[type=text]:focus {
	width: 100%;
}

div.container div#menu {margin-top: 40px; padding-top: 50px; border-top:2px groove;}
#menu ul {list-style-type: none; padding: 0; margin: 0; text-align: center;}
#menu li {display: inline-block; }
#menu a {
	display: block;
	color: #f2f2f2;
	width: 13vw;
	height: 13vw;
	border-radius: 50%;
	border: 1px #a2a2a2 solid;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 3vw;
	text-align: center;
	line-height: 13vw;
	transition: width 0.7s ease-in-out;
	background:#333;
}

#menu a:hover {
	border: 1px #50514F solid;
	text-shadow: 0 0 7px #FF0000;
}

/***** FOOTER SECTION STYLE *****/

.footer-basic-centered{
	background-color: #50514F;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
	margin-top: 50px;
	color:  #8f9296;
}

.footer-basic-centered .footer-company-logo{
	font-family: 'Brush Script MT', cursive;
	font-size: 46px;
	font-style: normal;
	font-variant: normal;
	color: #f2f2f2;
	margin: 0;
}

.footer-basic-centered .footer-company-copyright{
	font-size: 14px;
	margin: 0;
}

/* Make the footer Responsive */
@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-logo{
		font-size: 18px;
	}

	.footer-basic-centered .footer-copyright{
		font-size: 12px;
	}
}

/* Sign in Modal window */
.modal {
	background-color: #dbd9d9;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 20%;
	margin-left: -15%;
	margin-top: -150px;
	padding: 50px;
	border-radius: 5px;
	z-index: 10;
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
}

.close-modal {
	color:  #000;
	text-decoration: none;
	float: right;
	position: absolute;
	top: 10px;
	right: 20px
}

#login-form {
	width: 100%;
}

/**** ADVANCED SEARCH IN EXPLORE PAGE ****/
.container .advanced-search {
	margin-top: 20px;
	position: relative;
	display: block;
}

.advanced-search .filters {
	display: inline-block;
	width:100%;
}

.advanced-search .filters table {
	margin:auto;
	border: dotted black 1px;
	border-collapse: collapse;
	width: 80%;
}

.advanced-search .filters .button-red {
	width: 100px;
	margin:auto;
}

.advanced-search .filters td {
	text-align: center;
}

.advanced-search select {
	font-size: 16px;
	font-family: 'Fjalla One', sans-serif;
	color: #50514F;
	width: 90%;
	text-align: center;
}

/***** MAKE ADVANCED SEARCH IN THE EXPLORE PAGE RESPONIVE *****/

@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.advanced-search .filters table, thead, tbody, th, td, tr { 
		margin: auto;
	}
	
	.advanced-search .filters tr { border: 1px solid #ccc; text-align: center;}
	
	.advanced-search .filters td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		width:50%; 
	}

	.advanced-search .filters  td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.advanced-search select {
		font-size: 12px;
		transition: 0.5s;
		font-family: 'Fjalla One', sans-serif;
		color: #50514F;
		text-align: center;
		width: 100%;
	}
}

/***** Analytics list *****/
.category-box {
	display: block;
	min-width: 200px;
	height: 150px;
	margin: 20px;
	border: 2px grey groove;
	border-radius: 6px;
	background-color: #F7F7F7;
	transition: 0.4s;
}

.category-box:hover {
	background-color: lightgrey;
	cursor: default;
	box-shadow:2px 2px 2px 2px rgba(205,92,92,0.4);
}

.category-icon {
	display: inline-block;
	border-right: 1px grey groove;
	min-width: 20%;
	height: 150px;
	float: left;
}

.category-image {
	background-image: url("../imgs/sample-chart.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	width: 100%;
	height: 150px;
}

.category-description {
	display: inline-block;
	border-right: 1px grey groove;
	width: 70%;
	height: 150px;
	float:left;
	font-size: 2.2vmin;
}

.category-button {
	display: inline-block;
	min-width: 9%;
	height: 150px;
	float:right;
	position:relative;
}

.category-button .visualization-button {
	font-size: 2.3vmin;
	margin: auto;
	position: absolute;
	display: inline;
}

.category-button a:hover {
	text-decoration: underline;	
}

.category-button span { 
	display:inline-block;
	vertical-align:middle;
}

@media screen and (max-width:680px) {
	.category-box, .category-icon, .category-description, .category-button {
		height: 100px;
	}
}

.registration-form #center-form{
	display: block;
	border: dotted black 1px;
	width: 80%;
	margin:auto;
}

#center-form table, #artist-info, #record-info {
	margin:auto;
	font-size: 4vmin;
	width: 75%;
}

#center-form table tr:last-child, #tab-1 table tr:last-child, #tab-2 table tr:last-child {
	text-align: center;
}

#center-form table button[name="btn-signup"], #tab-1 table button[name="submit-artist"], 
#tab-2 table button[name="submit-record"] {
	width: 50%;
	font-size:4vmin;
}

#center-form form table td{
	padding: 10px;
}

.registration-form .error-message, #artist-form .artist-error, #record-form .record-error {
	font-size:3vmin;
	width: 50%;
	background-color: #FFBABA;
	color: #D8000C;
	text-align: center;
	border-radius: 5px;
	margin:auto;
}

.registration-form .success-message, #artist-form .artist-success, #record-form .record-success {
	font-size:3vmin;
	width: 50%;
	background-color: #DFF2BF;
	color: #4F8A10;
	text-align: center;
	border-radius: 5px;
	margin:auto;
}

#login-error {
	font-size:1.8vmin;
	width: 70%;
	background-color: #FFBABA;
	color: #D8000C;
	text-align: center;
	border-radius: 5px;
	margin:auto;
	margin-bottom: 10px;
}

/*******About Us Page********/


/*Music Archieve introduction*/

.img1 {
	float: left;
	width: 38%;
	margin-left: 15px;
}

.img1 img {
	width: 120%;
	margin-left: 15%;
	margin-right: 0px;
	height: auto;
}


/*text style*/


/*Team member introductions********/

div.img {
	float: left;
	width: 33%;
}

div.img:hover {
	margin-top: 5px;
	border-radius: 10px;
	border: 1px solid #333;
}

div.img img {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: auto;
	border-radius: 50%;
}

div.desc {
	padding: 15px;
	text-align: center;
}

/*Feedback and Find Us in contact-us page by Alex*/
.container-contact-us { 
	width: 80%;
	margin:auto;
	overflow: auto;
}

#comments {
	margin:auto;
}
#comments table {
	width:100%;
	table-layout: fixed;
}

#comments table .text-comment, .center-post .text-comment, #new-thread .text-comment {
	resize: none;
	width: 100%;
	height: 250px;
	padding: 12px 20px;
}

#feedback td button  {
	width: 150px;
	display: block;
	margin:auto;
	
}

#feedback {
	width: 50%;
	display: inline-block;
	float:left;
}

#findUs {
	border: 2px lightgrey groove;
	border-radius: 8px;
	text-align: center;
	width:35%;
	padding:15px;
	margin:auto;
	background-color: lightblue;
	margin-left: 25px;
	float:left;
}

#findUs table {
	margin:auto;
	font-size: 1.5vmax;
}

td.info {
	width: 30%;
}

#map {
	width: 100%;
	height: 320px;
}

@media screen and (max-width:680px) {
	#feedback, #findUs{
		width: 90%;
		margin: auto;
		overflow: none;
	}
	#map {
		width: 100%;
	}
}

/* Forum styles */
.posts {
	margin: 25px;	
}

.forum table, .posts table, #new-thread {
	width:100%;
	font-size: 3vmin;
}

.forum #header {
	text-align: center;
}

.forum #new-thread-button a, .posts #back-button a, #new-thread #back-button2 a {
	float: right;
	text-decoration: none;
	color: white;
}

.forum #new-thread-button a:hover, .posts #back-button a:hover {
	text-decoration: underline;
}

.forum #headers {
	font-style: italic;
	font-size: 1.5vmax;
	background-color: #50514F;
	color: white;
}

.forum #threads td {
	border: 1px solid lightslategray;
}

.forum #headers td:nth-child(1),.forum #headers td:nth-child(2) {
	width:50%;
	text-align: left;
}

.forum #headers td:nth-child(2) {
	width:20%;
}

.forum #headers td:nth-child(3), 
.forum #headers td:nth-child(4),
.forum #headers td:nth-child(5),
.forum #threads td:nth-child(3),
.forum #threads td:nth-child(4),
.forum #threads td:nth-child(5) {
	width: 10%;	
	text-align:center;
}

#threads:nth-child(odd)  {
	background: #f2f2f2;
}

#message {
	width:65%;
	padding-bottom: 20px;
}

#username {
	width: 35%;
	font-size: 12px;
	text-align: left;
}

#post-subject td{
	border-bottom: 	1px solid lightslategray;
}
#post-subject h2 {
	margin:0;
}

#thread-reply #reply { 
	width:100%;
	height:150px;
	padding: 0;
}

.center-post .center-button, #new-thread .center-button {
	width: 100px;
	margin:auto;
}

.center-post {
	width:70%;
	margin:auto;
}

#new-thread {
	width: 100%;
}

/* SUPER SIMPLE MODAL POPUPS with JQUERY AND CSS3 TRANSITIONS by Stephen Scaff */
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.modal-box table {
	text-align: center;
}

@media (min-width: 32em) {
  .modal-box { width: 70%; }
}


/********Admin Page**********/

/* Styling for the tabs */
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #50514F;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 2vmax;
}

ul.tabs li.current{
	background: lightblue;
	color: #50514F;
	border-top-right-radius:7px;
	border-top-left-radius:7px;
}

.tab-content{
	display: none;
	background: lightblue;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}


/* Styling for Admin input area*/
.fieldset {
    border-style: dotted;
    margin-top: 20px;
    margin-bottom:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.button-new{
	background:#4CAF50;
	border-radius:5px;
}

.button-delete{
	background:#F25F5C;
	border-radius:5px;
}*/




/* Styles for the Area chart */
svg {
  font: 10px sans-serif;
  width:100%;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}