            <!-- End of Page Specific Content -->
            

            <div id="menu">
            	<ul>
            		<li><a href="explore.php">Explore</a></li>
            		<li><a href="analytics.php">Analytics</a></li>
            		<li><a href="forum.php">Blog</a></li>
            		<li><a href="about-us.php">About Us</a></li>
            		<li><a href="contact-us.php">Contact</a></li>
            	</ul> 
            </div>
        </div>
    </main>

    <footer class="footer-basic-centered">
    	<p class="footer-company-logo">Music Archives</p>
    	<p class="footer-copyright">Copyright &copy; 2015</p>
    </footer>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <!-- My JavaScript -->
    <script src="js/main.js"></script>
    <script src="js/registration-form-validation.js"></script>
    <script src="js/login.js"></script>
    <script src="js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"async defer></script>
</body>

</html>