<?php
session_start();
?>

<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><?php echo $page_title; ?></title>
	<!-- My Styles -->
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

</head>

<body>
	<header>
		<!-- Navigation menu -->
		<nav>
			<ul class="topnav">
				<li><a href="index.php" id="logo">Music Archives</a></li>
				<li><a href="index.php">Home</a></li>
				<li><a href="explore.php">Explore</a></li>
				<li><a href="analytics.php">Analytics</a></li>
				<li><a href="forum.php">Blog</a></li>
				<li><a href="about-us.php">About Us</a></li>
				<li><a href="contact-us.php">Contact Us</a></li>
				<?php
				if(isset($_SESSION['email']) && isset($_SESSION['password'])) {
				?>
				<li class="button"><a id="logout-button" onclick="window.location.href='logout.php'">Logout</a></li>
				<?php
				} else {
				?>
				<li class="button"><a class="show-modal open-modal">Sign in</a></li>
				<li id="register"><a href="registration-form.php">Register</a></li>
				<?php
				}
				?>
				<li class="icon">
					<a href="#">&#9776;</a>
				</li>
			</ul>
		</nav>
		<!-- /Navigation Menu -->
		
		<!-- Sign-in Modal -->
		<div class="modal">
			<a class="close-modal" href="#">X</a>
			<h2>Enter Email and password to login</h2>
			<div id="login-error"></div>
			<form id="login-form" action="login.php" method="post">
				<input class="sign-in" type="text" name="email" placeholder="Email e.g., spaceman.spiff@gross.club">
				<input class="sign-in" type="password" name="password" placeholder="Password e.g., ********">
				<button class="button-red" type="submit" name="btn-login">Login</button>
			</form> 
		</div>
		<!-- /Sign-in Modal -->

		<!-- Banner and Sign Up Form -->
		<div class="banner">
			<div class="banner-image"></div>
			<form class="top-right">
				<fieldset>
					<legend>Don't have an account?</legend>
					<input type="text" id="user" name="username" placeholder="Choose a username">
					<input type="text" id="email" name="email" placeholder="Enter your email address">
					<input class="button-red" type="submit" value="Submit">
				</fieldset>
			</form>
		</div>
		<!-- /Banner and Sign Up Form -->
	</header>

	<main>
		<div class="container">

            <!-- Page Specific Content -->